<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to "Make Payment", braintree_new_path %>
<%= form_for :checkout_form, url: braintree_checkout_path, html: { id: "cardForm" } do |form| %>
<% end %>